#overview {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#overview .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#overview .search .inputs {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

#overview .search .inputs > div {
    width: 150px;
    margin-left: 10px;
}
