#edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#edit .row {
    display: flex;
    gap: 5px;
}

#edit .row span {
    width: 100px;
}

#edit .row input {
    width: 300px;
}
