#detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#detail .row {
    display: flex;
    gap: 5px;
}

#detail .row .label {
    width: 100px;
}

#detail .row .content {
    width: 300px;
}
